:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
    line-height: 1.5em;
    font-weight: 400;
    --fg: #CA9F77;
    --bg: #FFEFE2;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--fg);
}

h1 {
    font-family: "Rozha One" !important;
    font-size: 3rem;
    -webkit-text-stroke: 1px var(--bg);
}

button, a {
    text-decoration: none;
    font-size: 1rem;
    border: 1px solid var(--fg);
    background-color: var(--fg);
    color: var(--bg);
    border-radius: 1rem;
    padding: 1rem;
    transition: all 200ms;
}

button:hover, a:hover {
    font-weight: bolder;
    background-color: var(--bg);
    color: var(--fg);
}

button:active, a:active {
    transform: scale(0.9);
}

#background {
    background-image: url("/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 110vw 105vh;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#logo {
    width: 20rem;
    height: 20rem;
    background-image: url("/tails_of_hope_no_bg.png");
    background-size: 20rem 20rem;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    top: 20%;
    left: 20%;
}

section {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

section > div {
    display: flex;
    gap: 1rem;
}

section#home {
    width: 40vw;
    align-items: start;
    position: absolute;
    left: 50%;
}

section#home > p {
    font-size: 1.7rem;
    font-style: bold;
}

section#about {
    gap: 1.5rem;
}

section#about > p {
    text-align: center;
    font-size: 1.25rem;
    width: 50vw;
}

section#shelter > div#shelters {
    height: 50%;
    width: 60%;
    gap: 0.5rem;
    border: 0.2rem solid var(--fg);
    border-radius: 0.5rem;
}
